.element__like {
    width: 22px;
    height: 19px;
    margin: 4px 0 auto 0;
    border: 0;
    background-color: #fff;
    background-image: url('../../../images/like.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 22px;
}
.element__like:hover {
    opacity: 0.6;
}