.logo {
    max-width: 142px;
    margin: 0 auto 37px 0;
}
@media screen and (min-width: 300px) and (max-width: 700px) {
    .logo {
        max-width: 104px;
        margin: 0 auto 27px 26px;
    }
}