.popup__close-button {
    width: 43px;
    height: 43px;
    position: absolute;
    top: -35px;
    right: -35px;
    border: 0;
    background-color: rgba(0,0,0,0);
    background-image: url('../../../images/icon_close.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 43px;
}
button.popup__close-button:hover {
    opacity: 0.6;
}
@media screen and (min-width: 300px) and (max-width: 700px) {
    .popup__close-button {
        width: 30px;
        height: 30px;
        background-size: 30px;
        top: -22px;
        right: -22px;
    }
}