@import url('../vendor/normalize.css');
@import url('../fonts/inter.css');
@import url('../blocks/header/header.css');
@import url('../blocks/logo/logo.css');
@import url('../blocks/profile/profile.css');
@import url('../blocks/elements/elements.css');
@import url('../blocks/element/element.css');
@import url('../blocks/footer/footer.css');
@import url('../blocks/popup/popup.css');

html{
    margin: 0;
    font-family: 'Inter', Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
}
body {
    background-color: #000000;
}

